#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-menu_3 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-checkbox-on-light_9 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-checkbox-on-light_10 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-checkbox-on-light_11 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-12d75f1d-4481-4b0c-9b99-f594e63a7d6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}