#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Image_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-checkbox-on-light_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 #s-checkbox-on-light_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d95e212-f9bb-4e93-a844-4e1ec7f1a2c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}