#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-maps-background {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_139 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}