#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-maps-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-20fc2f51-0fbf-46ec-a7dc-ea8ac983b92b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}