#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}