#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-menu_3 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 178px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}