#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-StatusBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Icons_5 {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 314px;
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-BarTresRayas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #98C858;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_79 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_79 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_79 span#rtr-s-Label_79_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-menu_3 > svg {
  width: 26px;
  height: 26px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-menu_3 {
  position: absolute;
  top: 38px;
  left: 20px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Tabs-bar-color {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Panel_9 {
  width: 360px;
  height: 49px;
  background-color: #98C858;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_31 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_32 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_32 span#rtr-s-Label_32_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_6 {
  position: absolute;
  top: 47px;
  left: 180px;
  width: 180px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-StatusBar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Icons_6 {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 314px;
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_33 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_33 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Label_33 span#rtr-s-Label_33_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-input {
  position: absolute;
  top: 161px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #shapewrapper-s-Line_4 {
  display: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-input_1 {
  position: absolute;
  top: 221px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_7 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #shapewrapper-s-Line_7 {
  display: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-input_2 {
  position: absolute;
  top: 285px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_4 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_8 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #shapewrapper-s-Line_9 {
  display: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-input_3 {
  position: absolute;
  top: 350px;
  left: 9px;
  width: 341px;
  height: 32px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Input_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Line_11 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #shapewrapper-s-Line_11 {
  display: none;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Flat-button-light {
  position: absolute;
  top: 419px;
  left: 168px;
  width: 178px;
  height: 42px;
  background-color: #24557C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe #s-Hotspot_1 {
  position: absolute;
  top: 280px;
  left: 5px;
  width: 350px;
  height: 107px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-21e438b9-5fd3-4df6-8239-bebf1d6f5cbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}