#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_5 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_11 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_12 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_7 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_6 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}