#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Tabs-bar-color {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Panel_9 {
  width: 360px;
  height: 49px;
  background-color: #98C858;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_31 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_32 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_32 span#rtr-s-Label_32_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Line_6 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 180px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-list-item_1 {
  position: absolute;
  top: 265px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 65px;
  width: 295px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_5 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-list-item_5 {
  position: absolute;
  top: 325px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 65px;
  width: 295px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_11 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-list-item_6 {
  position: absolute;
  top: 385px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 65px;
  width: 295px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_12 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-list-item_4 {
  position: absolute;
  top: 445px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 65px;
  width: 295px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_7 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_3 {
  position: absolute;
  top: 23px;
  left: 183px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-BarFlechaAtras {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #98C858;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_79 .valign {
  vertical-align: top;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_79 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_79 span#rtr-s-Label_79_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_79 span#rtr-s-Label_79_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_12 {
  position: absolute;
  top: 38px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_12 span#rtr-s-Label_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-StatusBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Icons_5 {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 314px;
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-list-item_3 {
  position: absolute;
  top: 505px;
  left: 0px;
  width: 360px;
  height: 61px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-left: 65px;
  width: 295px;
  height: 41px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Picture_6 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Paragraph_1 {
  position: absolute;
  top: 558px;
  left: 66px;
  width: 233px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_1 {
  position: absolute;
  top: 411px;
  left: 183px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_2 {
  position: absolute;
  top: 411px;
  left: 204px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_4 {
  position: absolute;
  top: 528px;
  left: 244px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_1 {
  position: absolute;
  top: 142px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_2 {
  position: absolute;
  top: 142px;
  left: 254px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Line_1 {
  position: absolute;
  top: 233px;
  left: 44px;
  width: 278px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_5 {
  position: absolute;
  top: 528px;
  left: 183px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_6 {
  position: absolute;
  top: 528px;
  left: 204px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_7 {
  position: absolute;
  top: 528px;
  left: 225px;
  width: 30px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_20 > svg {
  width: 24px;
  height: 24px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Image_20 {
  position: absolute;
  top: 40px;
  left: 315px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_1 {
  position: absolute;
  top: 345px;
  left: 190px;
  width: 11px;
  height: 17px;
  background-color: #FFFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_3 {
  position: absolute;
  top: 466px;
  left: 212px;
  width: 11px;
  height: 17px;
  background-color: #FFFF00;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-395ca0b7-f4af-4e91-baf7-c3ca42c7693d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}