#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}