#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_5 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_7 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_6 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_12 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_7 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_13 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_11 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_14 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_12 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_15 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Picture_13 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-checkbox-on-light_16 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-plus_2 {
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #98C858;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #98C858;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #98C858;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #98C858;
  -ms-transform: rotate(0.0deg);
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-42fb98f4-0f90-40fe-b2a7-3bd3a6f9088f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}