#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-529eeadb-2880-45f7-bc54-e7d9adf75557 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}