#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-maps-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Pinmap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Image_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7f7e7312-d45a-4f59-91c3-1b254be802bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}