#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}