#s-80197ee6-e63c-49c5-8c79-23483d779c2b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-StatusBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Icons_5 {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 314px;
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Horizontal-softkeys {
  position: absolute;
  top: 592px;
  left: 0px;
  width: 360px;
  height: 48px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Image_23 {
  position: absolute;
  top: 9px;
  left: 161px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Image_24 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-BarTresRayas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  padding-left: 73px;
  width: 287px;
  height: 40px;
  background-color: #98C858;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_79 .valign {
  vertical-align: top;
  text-align: left;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_79 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_79 span#rtr-s-Label_79_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-menu_3 > svg {
  width: 26px;
  height: 26px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-menu_3 {
  position: absolute;
  top: 38px;
  left: 20px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-StatusBar_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Icons_6 {
  position: absolute;
  top: 0px;
  left: 253px;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 314px;
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_33 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_33 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_33 span#rtr-s-Label_33_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Ellipse_24 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Ellipse_24 .content {
  width: 56px;
  height: 56px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Ellipse_24 {
  position: absolute;
  top: 519px;
  left: 290px;
  width: 56px;
  height: 56px;
  background-color: #98C858;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #shapewrapper-s-Ellipse_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #shapewrapper-s-Ellipse_24 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #shapewrapper-s-Ellipse_24 span#rtr-s-Ellipse_24_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_3 {
  position: absolute;
  top: 532px;
  left: 306px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Line-item-dialog {
  position: absolute;
  top: 127px;
  left: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Panel_1 {
  width: 360px;
  height: 336px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item {
  padding-top: 12px;
  padding-left: 15px;
  width: 345px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item .valign {
  vertical-align: top;
  text-align: left;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item span#rtr-s-Two-line-item_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item span#rtr-s-Two-line-item_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item span#rtr-s-Two-line-item_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item_1 {
  padding-top: 12px;
  padding-left: 15px;
  width: 345px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item_1 span#rtr-s-Two-line-item_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Two-line-item_1 span#rtr-s-Two-line-item_1_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Tabs-bar-color {
  position: absolute;
  top: 79px;
  left: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Panel_9 {
  width: 360px;
  height: 49px;
  background-color: #98C858;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_31 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_32 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Label_32 span#rtr-s-Label_32_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b #s-Line_6 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 180px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-80197ee6-e63c-49c5-8c79-23483d779c2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}