#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-913e207d-ada6-4e74-929d-e84a56e04d46 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}