#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-4_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-3_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-5_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-star-2_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-beeb015d-6902-47dd-8496-b38e83db9937 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}