#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ee16b0ad-bfcf-4271-ac12-50f2ac30ae3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}