#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f10250e8-3764-4f9b-9f4a-a28a0b829aca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}