#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f7eeaad8-9aef-4570-960d-33d3f7d2fce6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}