#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Line_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFF8D;
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_11 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_6 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 212px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}