#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fd16302d-25f8-47d9-9e36-3ce99c0000a5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}